main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

h2 {
    color: black;
    font-weight: 1000;
    font-size: 1.5em;
}

.wrapper {
    display: flex;
    background-color: #fff;
    width: 100%;
    grid-gap: 1rem;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
}

.wrapper2 {
    flex-direction: row-reverse;
}

.wrapper3 {
    justify-content: flex-end;
}

.wrapper4 {
    justify-content: space-between;
}

.wrapper5 {
    justify-content: space-around;
}

.box {
    color: #fff;
    font-size: 150%;
    padding: 1rem;
    text-align: center;
    min-height: 10rem;
    min-width: 22vw;
}

.box:nth-child(1) {
    background-color: #FF6969;

}

.box:nth-child(2) {
    background-color: #FFCD4B;
}

.box:nth-child(3) {
    background-color: #A7D397;
}

.box:nth-child(4) {
    background-color: #AEDEFC;
}

.box:nth-child(5) {
    background-color: #8E8FFA;
}

.box:nth-child(6) {
    background-color: #F875AA;
}

.inner:nth-child(1) {
    background-color: #AEDEFC;
}

.inner:nth-child(2) {
    background-color: #FFCD4B;
}

.inner:nth-child(3) {
    background-color: #A7D397;
}