main {
    width: 100%;
    padding: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 10rem);
    grid-template-areas: "header header header"
        "sidebar content content"
        "sidebar content content"
        "footer footer footer";
    grid-gap: 1rem;
    background-color: #fff;
}

.box {
    color: #fff;
    font-size: 150%;
    padding: 1rem;
    text-align: center;
}

.box:nth-child(1) {
    background-color: #FF6969;
    grid-area: header;
}

.box:nth-child(2) {
    background-color: #FFCD4B;
    grid-area: sidebar;
}

.box:nth-child(3) {
    background-color: #A7D397;
    grid-area: content;
}

.box:nth-child(4) {
    background-color: #AEDEFC;
    grid-area: footer;
}